@import "tailwindcss";

@theme {
    --color-primary: #06B6D4;
    --color-accent: #F97316;
    --color-gris-carbon: #334155;
    --font-heading: 'Space Grotesk', sans-serif;
    --font-body: 'Inter', sans-serif;
}

:root {
    --font-body: 'Inter', sans-serif;
    --font-heading: 'Space Grotesk', sans-serif;
    --gris-carbon: #334155;
    --color-primary: #06B6D4;
    --color-accent: #F97316;
    --light-gray: #f8f9fa;
    --color-secondary: #002E46;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
    font-family: var(--font-body);
    background-color: #fff;
    /* color: #1E293B; */
    color: var(--gris-carbon);
    font-size: 1rem;
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-heading);
}

.eyebrow {
  display: inline-block;
  margin-bottom: 1rem;
  color: var(--color-accent);
  font-size: 0.85rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}